force-app/main/default/flows/Litmos_Teams_Number_of_Subteams.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Get_number_of_children</name>
        <label>Get number of children</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>Num_Subteams</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_subteams</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_parent_record</targetReference>
        </connector>
    </assignments>
    <description>Populates number of subteams on parent team records</description>
    <interviewLabel>Litmos Teams Number of Subteams {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Litmos Teams Number of Subteams</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_subteams</name>
        <label>Get subteams</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_number_of_children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Litmos_Parent_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Litmos_Parent_Team__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Litmos_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_parent_record</name>
        <label>Update parent record</label>
        <locationX>176</locationX>
        <locationY>493</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Litmos_Parent_Team__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_Number_of_Subteams__c</field>
            <value>
                <elementReference>Num_Subteams</elementReference>
            </value>
        </inputAssignments>
        <object>Litmos_Team__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_subteams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Litmos_Parent_Team__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Litmos_Team__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Num_Subteams</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
